{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

{% block base_head %}
    <link rel='stylesheet' href='{% static "css/home.css" %}'>
{% endblock %}

<div class='text-center'>
            <h1>{{ title }}</h1>
            <p>{{ content }}</p>
        </div>
        <div class="container">
            {% if request.user.is_authenticated %}
            <div class="row">
                <div class="'col">
                    <h1>Premium</h1>
                    <p>{{ premium_content }}</p>
                </div>
            </div>
            {% endif %}
        </div>
{% endblock %}
